crewai
crewai-tools
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-google-genai
langchain-google-vertexai
langchain-groq
langchain-openai
langchain-text-splitters
langsmith
python-dotenv
pysqlite3-binary
embedchain
chromadb
setuptools
wheel
colorama
flask
